/*
 * Legal Disclaimer
 *
 * These web fonts are licensed exclusively for use on the following:
 * infographics.group (2018)
 * info.graphics
 *
 * It is strictly forbidden to download or use these fonts on any other website domain or media.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2018
 */


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 */

@font-face {
	font-family: "LL Gravur Cond Thin Italic Web";
	src: url("fonts/GravurLLWeb-CondThinItalic.eot");
	src: url("fonts/GravurLLWeb-CondThinItalic.woff") format("woff"),
		 url("fonts/GravurLLWeb-CondThinItalic.woff2") format("woff2");
}

@font-face {
	font-family: "LL Gravur CondBlack Web";
	src: url("fonts/GravurLLWeb-CondBlack.eot");
	src: url("fonts/GravurLLWeb-CondBlack.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondBlack.woff") format("woff");
}

@font-face {
	font-family: "LL Gravur CondBlack Italic Web";
	src: url("fonts/GravurLLWeb-CondBlackItalic.eot");
	src: url("fonts/GravurLLWeb-CondBlackItalic.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondBlackItalic.woff") format("woff");
}

@font-face {
	font-family: "LL Gravur Cond Bold Web";
	src: url("fonts/GravurLLWeb-CondBold.eot");
	src: url("fonts/GravurLLWeb-CondBold.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondBold.woff") format("woff");
}

@font-face {
	font-family: "LL Gravur Cond Bold Italic Web";
	src: url("fonts/GravurLLWeb-CondBoldItalic.eot");
	src: url("fonts/GravurLLWeb-CondBoldItalic.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondBoldItalic.woff") format("woff");
}

@font-face {
	font-family: "LL Gravur Cond Italic Web";
	src: url("fonts/GravurLLWeb-CondItalic.eot");
	src: url("fonts/GravurLLWeb-CondItalic.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondItalic.woff") format("woff");
}

@font-face {
	font-family: "LL Gravur CondLight Web";
	src: url("fonts/GravurLLWeb-CondLight.eot");
	src: url("fonts/GravurLLWeb-CondLight.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondLight.woff") format("woff");
}

@font-face {
	font-family: "LL Gravur CondLight Italic Web";
	src: url("fonts/GravurLLWeb-CondLightItalic.eot");
	src: url("fonts/GravurLLWeb-CondLightItalic.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondLightItalic.woff") format("woff");
}

@font-face {
	font-family: "LL Gravur Cond Regular Web";
	src: url("fonts/GravurLLWeb-CondRegular.eot");
	src: url("fonts/GravurLLWeb-CondRegular.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondRegular.woff") format("woff");
}

@font-face {
	font-family: "LL Gravur Cond Thin Web";
	src: url("fonts/GravurLLWeb-CondThin.eot");
	src: url("fonts/GravurLLWeb-CondThin.woff2") format("woff2"),
		 url("fonts/GravurLLWeb-CondThin.woff") format("woff");
}